<% include partials/headerAdmin %>

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Content Row -->

  <form action="/admin/processOrder" method="POST">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tabela Compras</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="tableMain" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Document Date</th>
                <th>Buyer Customer Party Name</th>
                <th>Amount</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>accountingParty</th>
                <th>salesItem</th>
                <th>Process Order</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0 ; i < body.data.length ; i++){ %>
              <tr>
                <td><%= i %></td>
                <td><%= body.data[i].documentDate %></td>
                <td><%= body.data[i].sellerSupplierPartyName %></td>
                <td><%= body.data[i].amount %>€</td>
                <td><%= body.data[i].quantity %></td>
                <td><%= body.data[i].description %></td>
                <td><%= body.data[i].accountingParty %></td>
                <td><%= body.data[i].salesItem %></td>
                <td><button id="tableMain tbody tr" type="button">Order</button></td>
              </tr>
              <% } %>
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </form>
</div>





<script>
  $(function () {
    $("#tableMain tbody tr").click(function () {
      var tableData = $(this).children("td").map(function () {
        $(this).parent("tr:first").remove();
        return $(this).text();
      }).get();
      var teste = {
        "buyerCustomerParty": tableData[6],
        "documentDate": "2019-06-06T00:00:00",
        "documentLines": [
          {
            "salesItem": tableData[7],
            "description": tableData[5],
            "quantity": parseFloat(tableData[4]),
            "unitPrice": {
              "amount": parseFloat(tableData[3]),
              "symbol": "€"
            }
          }
        ]
      };
      $.ajax({
        type: 'POST',
        url: 'http://localhost:8093/jasminapi/postBill',
        dataType: "json",
        contenttype: "application/json",
        data: JSON.stringify(teste),
        error: function (xhr, textStatus, error) {
          alert("Fatura emitida com sucesso. Sera enviada por email ao cliente!");

        },
        success: function (data) {
          alert("erro");
        }


      });
    });
  });



</script>



<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/public/admin/vendor/jquery/jquery.min.js"></script>
<script src="/public/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/public/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/public/admin/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/public/admin/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/public/admin/js/demo/chart-area-demo.js"></script>
<script src="/public/admin/js/demo/chart-pie-demo.js"></script>

<!-- Page level plugins -->
<script src="/public/admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/public/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/public/admin/js/demo/datatables-demo.js"></script>

</body>

</html>