<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
        <div class="container">
                <div class="header clearfix">
                    <nav>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="/">Home</a></li>
                            <% if (isAuthenticated) { %>
                            <li role="presentation"><a href="/profile">Profile</a></li>
                            <% if (user.type === 'admin') {%>
                            <li role="presentation"><a href="/users">Users</a></li>
                            <% } %>
                            <% } %>
                            <li role="presentation">
                                <% if (isAuthenticated) { %>
                                <a href="/logout">Logout</a>
                                <% } else { %>
                                <a href="/login">Login</a>
                                <% } %>
                            </li>
                        </ul>
                    </nav>
                    <h3 class="text-muted">Sovifrige</h3>
                </div>
<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>User name</h1></div>
    	<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

               
    
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#encomendas">Encomendas</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                <hr>
                <form action="/profile" method="post">
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="name"><h4>Name</h4></label>
                              <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" value="<%= user.nome %>">
                          </div> 
                      </div>
          
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"value="<%= user.email %>">
                        </div>
                    </div>
          
                    <div class="form-group">
                        <div class="col-xs-6">
                            <label for="username"><h4>Username</h4></label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username" name="username"
                                value="<%= user.username %>" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-6">
				            <label for="password"><h4>Password</h4></label>
				            <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
                        </div>
                    </div>
                      <div class="form-group">                      
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              
              <hr>
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="encomendas">
               
               <h2></h2>
               
               <hr>

               <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th>Document Date</th>
                          <th>Buyer Customer Party Name</th>
                          <th>Description</th>
                          <th>Quantity</th>   
                          <th>Amount</th>
                          
                          <th>Efetuar Pagamento</th> 
                        </tr>
                      </thead>
                      
                      <tbody>
                          <% for(var i = 0 ; i < body.data.length ; i++){ %>
                        <tr>
                        <td><%= body.data[i].documentDate %></td>
                        <td><%= body.data[i].buyerCustomerPartyName %></td>
                        <td><%= body.data[i].description %></td>
                        <td><%= body.data[i].quantity %></td>
                        <td><%= body.data[i].amount %> €</td>
                        
                        <script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
                        <td><script>paypal.Buttons().render('body');</script></td>
                      </tr>
                      <% } %>
                      </tbody>
         
                    </table>
                  </div>
            
                  
             </hr>
             </div><!--/tab-pane-->
             
              </div>
               
              </div><!--/tab-pane-->
         

        </div><!--/col-9-->
    </div><!--/row-->

</body>